$maincolor3: rgb(134, 184, 151);
$maincolor4: rgb(24, 99, 52);

$textcolor: white;

$size: 1em;
$titSize: 2em;
$shad: 0px 0px 50px rgb(221, 233, 221);

// $sacle
// $top
// $bottom
// $margin
// $padding
// $left
// $right
// $
// $
// $
